{% load static %}

<!DOCTYPE html>  
<html lang="en">  
<head>  
        <meta charset="UTF-8">  
	<title>Emails</title> 
<style>
.dot_red {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.dot_green {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.dot_yellow {
  height: 10px;
  width: 10px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
</style>

</head>
<body>

<form id="email_form" method="post" action="{% url 'main-view' %}">
  {% csrf_token %}
  {{ form.as_ul }}
  <input type="submit" value="Send mail">
</form>

<p>Emails stat</p>
<ul>
{% for email in object_list %}
  <li>
    created: {{ email.created_date|date:'e Y-m-d H:i:s' }} | {{ email.to_email }} | delay: {{ email.delay }} sec
    {% if email.delay %} ({{ email.scheduled_for|date:'e Y-m-d H:i:s' }}){% endif %}
    <p>status on {{ email.last_update_date|date:'e Y-m-d H:i:s' }}: {{ email.get_status_display }}
    {% if email.status == 4 %}<span class="dot_red"></span>
    {% elif email.status == 3 %}<span class="dot_green"></span>
    {% elif 1 %}<span class="dot_yellow"></span>
    {% endif %}
    </p>
    <p>Text: {{ email.body_text }}</p>
  </li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
				    <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
						<a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>
